* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #363958;
  --white: #ffffff;
  --button: #427516;
  --black: #000;
}

/* nav-bar  */
.nav-link:hover {
  background-color: var(--button);
  color: var(--white);
}
/* BUTTON  */
.buy,
.buy:hover,
.buy:focus {
  text-decoration: none;
  background: var(--button);
  font-weight: 600;
  color: var(--white);
  padding: 0.5em 1em;
}
.buy:active {
  transform: scale(1.1);
}
.category-title {
  font-size: 4rem;
  height: 3.625rem;
  width: 14rem;
}

.jacket {
  height: 16.8125rem;
  width: 12.625rem;
}
.house {
  width: 78px;
  height: 82px;
}
.shopping {
  width: 37.4375rem;
  height: 22.125rem;
}
.box {
  width: 30.5625rem;
  height: 8.4375rem;
}

/* @media screen (min-width:) {
  
} */
